body {
  font-family: impact, monospace;
  font-size: 30px;
  margin: 0;
  padding: 0;
  background-color: #c3d6a3;
 
  /* background-image: linear-gradient(
    to bottom, transparent, #c3d6a3
  ), url("./assets/fire.avif");
  background-repeat: no-repeat; */


}

.container {
  text-align: center;
  /* padding: 20px; */
}

 .hero img {
  width: 100%;
  height: 200px;
 /* display: block; nevermind this code is usless*/ 
  overflow: hidden; 
  margin: auto;
} 

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
  padding: 0 20px;
}

.card, .box, .half, .quarter, .full, .nav, .main {
  background-color: rgb(12, 94, 12);
  border: 7px solid #bb9762;
  padding: 20px;
  text-align: center;
  flex: 1;
  min-width: 100px;
}

.card {
  /* font-family: arial, serif;     nevermind I put this in the wrong spot it goes in body*/
  text-decoration: none;
  color: rgb(211, 240, 197);
  width: 200px;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #ddd;
}

.carousel {
  background: #bbb;
  height: 200px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.english-layout {
  display: flex;
  /* gap: 200px;   USLESSS*/
  padding: 10px;
 margin-bottom: 20px;
}

.nav {
  flex: 1;
}

.main {
  flex: 3;
}

.leftIndent {
  padding-left: 50px;
}

.title {
  position:absolute;
  top: 0;
  margin: auto 0;
  padding-left: 50px;
  padding-top: 50px;
  color:aliceblue;
}

.imageCrop {
  width:auto;
}